/* The standard CSS for doxygen 1.8.13 */

body, table, div, p, dl {
	font: 400 14px/22px sans-serif;
}

p.reference, p.definition {
	font: 400 14px/22px sans-serif;
}

/* @group Heading Levels */

.title {
	font: 400 14px/28px sans-serif;
	font-size: 150%;
	font-weight: bold;
	margin: 10px 2px;
}

table.directory {
    font: 400 14px sans-serif;
}

#projectname
{
	font: 300% sans-serif;
	margin: 0px;
	padding: 2px 0px;
}

#projectbrief
{
	font: 120% sans-serif;
	margin: 0px;
	padding: 0px;
}

#projectnumber
{
	font: 50% sans-serif;
	margin: 0px;
	padding: 0px;
}




/* @end */

#powerTip div {
        margin: 0px;
        padding: 0px;
        font: 12px/16px sans-serif;
}
